
    <!-- The Inner links -->
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  d-flex  align-items-center">
            <a class="navbar-brand" href="/">
            <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
            </a>
            <div class=" ml-auto ">
            <!-- Sidenav toggler -->
            <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                </div>
            </div>
            </div>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Nav items -->
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link {% if 'index' in segment %} active {% endif %}" 
                   href="#navbar-dashboards" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                    <i class="ni ni-shop text-primary"></i>
                    <span class="nav-link-text">Dashboards</span>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if 'paiements' in segment %} active {% endif %}" 
                   href="#navbar-paiements" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-paiements">
                    <i class="ni ni-ungroup text-orange"></i>
                    <span class="nav-link-text">Paiements</span>
                </a>
                <div class="collapse" id="navbar-paiements">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="{% url 'paiement:payments' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> L </span>
                            <span class="sidenav-normal"> Liste </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'paiement:devises' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> D </span>
                            <span class="sidenav-normal"> Dévises </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                            <span class="sidenav-mini-icon"> E </span>
                            <span class="sidenav-normal"> Etats </span>
                            </a>
                        </li>
                    </ul>
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if 'facturation-' in segment %} active {% endif %}" 
                   href="#navbar-facturation" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-facturation">
                    <i class="ni ni-ui-04 text-info"></i>
                    <span class="nav-link-text">Facturation</span>
                </a>
                <div class="collapse" id="navbar-facturation">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                            <span class="sidenav-mini-icon"> L </span>
                            <span class="sidenav-normal"> Liste </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                            <span class="sidenav-mini-icon"> I </span>
                            <span class="sidenav-normal"> Impression </span>
                            </a>
                        </li>
                    </ul>
                </div>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if 'administration' in segment %} active {% endif %}" 
                   href="#navbar-administration" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-administration">
                    <i class="ni ni-single-copy-04 text-pink"></i>
                    <span class="nav-link-text">Administration</span>
                </a>
                <div class="collapse" id="navbar-administration">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="{% url 'authentication:users' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> U </span>
                            <span class="sidenav-normal"> Utilisateurs </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'authentication:profiles' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> P </span>
                            <span class="sidenav-normal"> Profils </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'authentication:agencies' %}" class="nav-link">
                            <span class="sidenav-mini-icon"> A </span>
                            <span class="sidenav-normal"> Agences </span>
                            </a>
                        </li>
                    </ul>
                </div>
                </li>
            </ul>
            <!-- Divider -->
            <hr class="my-3">
            <!-- Heading -->
            <h6 class="navbar-heading p-0 text-muted">
                <span class="docs-normal">Documentation</span>
                <span class="docs-mini">D</span>
            </h6>
            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">

                <li class="nav-item">
                    <a class="nav-link" 
                        target="_blank" rel="noopener noreferrer"
                        href="#" >
                        <i class="ni ni-spaceship"></i>
                        <span class="nav-link-text">Autres liens</span>
                    </a>
                </li>

            </ul>
            </div>
        </div>
    </div>
