{% extends "layouts/base.html" %}
{% load custom_filters %}

{% block title %} Déclarations {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Liste</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Déclarations</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liste</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral" data-id="a-declarations-filters">Filters</a>
          </div>
        </div>
        
      </div>
    </div>

  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <div class="row">
      <div class="col-xl-12">

        {% if messages %}
          <!-- Alerts -->
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-text">
              <strong>Success!</strong>
              {% for message in messages %}
                {{ message | safe }}
              {% endfor %}
            </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}

      

        <!-- Table -->
        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <!-- Card header -->
              <div class="card-header border-0">
                <h3 class="mb-0"><em>Liste des déclarations</em>
                    <a href="#" class="btn btn-sm btn-neutral float-right" role="button" data-id="a-declarations-ajouter" data-toggle="modal" data-target="#modal-declaration-add">+Ajouter</a>
                </h3>
                  
                <div class="modal fade" id="modal-declaration-add" tabindex="-1" role="dialog" aria-labelledby="modal-declaration-add" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered " role="dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-declaration-add">Nouvelle déclaration</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <hr>
                            <div class="modal-body mt--6">
                                <form action="{% url 'paiement:add_declaration' %}" method="post" id="form-declaration-add">
                                {% csrf_token %}
                                <fieldset>
                                    <legend></legend>
                                    <div class="row">
                                        <div class="col">
                                          <div class="form-group">
                                            <div class="input-group input-group-merge">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                              </div>
                                              {{ declarationform.title }}
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                          <div class="form-group">
                                            <div class="input-group input-group-merge">
                                              <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-tag"></i></span>
                                              </div>
                                              {{ declarationform.comment }}
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </fieldset>
                                <div class="modal-footer justify-content-center">
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- Light table -->
              <div class="table-responsive" data-toggle="list" data-list-values='["n°", "ref", "title",  "total_employee", "status", "actions"]'>
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="n°">N°</th>
                      <th scope="col" class="sort" data-sort="ref">Référence</th>
                      <th scope="col" class="sort" data-sort="title">Titre</th>
                      <th scope="col" class="sort" data-sort="total_employee">Total Employées</th>
                      <th scope="col" class="sort" data-sort="status">Statut</th>
                      <th scope="col" class="sort" data-sort="Actions">Actions</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    {% for declaration in declarations %}
                      <tr>
                        <td class="n°">
                          {{forloop.counter}}
                        </td>
                        <th scope="ref">
                          {{declaration.reference}}
                        </th>
                        <td class="title">
                          {{declaration.title}}
                        </td>
                        <td class="total_employe text-center">
                          {{declaration.employee_declarations.count}}
                        </td>
                        <td class="status">
                            {{declaration.get_status_display}}
                        </td>
                        <td class="text-center justify-content-center">
                          <span>
                            <button class="btn btn-sm btn-icon-only" role="button" data-id="a-declarations-consulter" data-toggle="modal" data-target="#modal-declaration-{{declaration.id}}">View</button>
                          </span>
                            
                          <div class="modal fade" id="modal-declaration-{{declaration.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-declaration-{{declaration.id}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="dialog">
                              <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                  <h2>Détails de la déclaration </h2>
                                </div>
                                <div class="modal-body">

                                  <div class="card card-agency mt--4 mb--4">
                                    <div class="card-header text-center">
                                      <div class="row text-center">
                                        <div class="col">
                                          <i class="ni education_hat mr-2"></i><strong>Référence:</strong> {{declaration.reference}}
                                        </div>
                                      </div>
                                        
                                    </div>
                                    <div class="card-body">
                                      <div class="row mb-3">
                                        <div class="col">
                                          <i class="ni education_hat mr-2"></i><span class="text-muted">Titre:</span> 
                                          <strong>{{declaration.title}}</strong>
                                        </div>
                                        <div class="col">
                                          <i class="ni education_hat mr-2"></i><span class="text-muted">Total Employées:</span>
                                          <span class="heading"><strong>{{declaration.employee_declarations.count}} </strong></span>
                                        </div>
                                      </div>
                                      <div class="row mb-3">
                                        <div class="col">
                                          <i class="ni education_hat mr-2"></i><span class="text-muted">Statut:</span> 
                                          <strong>{{declaration.get_status_display}}</strong>
                                        </div>
                                      </div>
                                     
                                      <div class="row mb-3">
                                        <div class="col">
                                          <div>
                                            <i class="ni ni-education_hat mr-2"></i><span class="text-muted">Cadres:</span>
                                            <span class="heading"> <h3>{{declaration.employee_declarations | count_employee_jobcategory:1}}</h3> </span>
                                          </div>
                                        </div>
                                        <div class="col">
                                          <div>
                                            <i class="ni ni-education_hat mr-2"></i><span class="text-muted">Agents:</span>
                                            <span class="heading"> <h3>{{declaration.employee_declarations | count_employee_jobcategory:2}}</h3> </span>
                                          </div>
                                        </div>
                                        <div class="col">
                                          <div>
                                            <i class="ni ni-education_hat mr-2"></i><span class="text-muted">Ouvriers:</span>
                                            <span class="heading"> <h3>{{declaration.employee_declarations | count_employee_jobcategory:3}}</h3> </span>
                                          </div>
                                        </div>
                                      </div>


                                      <!-- Light table -->
                                      <div class="table-responsive table-sm mt-3">
                                        <table class="table align-items-center table-flush">
                                          <thead class="thead-light">
                                            <tr>
                                              <th scope="col" class="sort" data-sort="num">N°</th>
                                              <th scope="col" class="sort" data-sort="passport">N° de Passeport</th>
                                              <th scope="col" class="sort" data-sort="name">Prénoms & Nom</th>
                                              <th scope="col" class="sort" data-sort="job">Fonction</th>
                                              <th scope="col" class="sort" data-sort="phone">Téléphone</th>
                                            </tr>
                                          </thead>
                                          <tbody class="list">
                                            {% for employee in declaration.employee_declarations.all %}
                                              <tr>
                                                <td class="text-center">
                                                  <span class="name">{{forloop.counter}}</span>
                                                </td>
                                                <th scope="row">
                                                  <div class="media align-items-center">
                                                    <span class="name">{{employee.passport_number}}</span>
                                                  </div>
                                                </th>
                                                <td class="text-left">
                                                  <span class="name">{{employee.first}} {{employee.last}}</span>
                                                </td>
                                                <td class="text-left">
                                                  <span class="name">{{employee.job}}</span>
                                                </td>
                                                <td class="budget">
                                                  <span class="name">{{employee.phone}}</span>
                                                </td>
                                              </tr>
                                            
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                      </div>

                                    </div>
                                  </div>

                                </div>
                                <div class="modal-footer justify-content-center">
                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                              </div>
                            </div>
                          </div>

                          {% if declaration.status == 'unvalidated' %}
                            <span>
                              <button data-href="{% url 'paiement:edit_declaration' declaration.id %}" data-id="a-declarations-modifier"  class="edit-link btn btn-sm btn-icon-only" role="button">Edit</button>
                            </span>
                          {% endif %}

                          {% if declaration.status == 'unvalidated' and declaration.employee_declarations.count > 0 %}
                            <span>
                              <button class="btn btn-sm btn-icon-only" role="button" data-id="a-declarations-valider" data-toggle="modal" data-target="#modal-declaration-validation-{{declaration.id}}">Val</button>
                            </span>
                          {% endif %}
                            
                          <div class="modal fade" id="modal-declaration-validation-{{declaration.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-declaration-validation-{{declaration.id}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="dialog">
                              <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                  <h2>Confirmation </h2>
                                </div>
                                
                                <div class="modal-body">
    
                                  <div class="card card-agency mt--4 mb--4">
                                    
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="col">
                                          <p class="text-muted">Attention !!! <br><span class="font-italic">Une fois validée, aucune modification n'est possible.</span></p>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col">
                                          <i class="ni education_hat mr-2"></i><span class="text-muted"></span> 
                                          <strong>Etes-vous sûr de vouloir valider la déclaration ?</strong>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
  
                                </div>
                                <div class="modal-footer justify-content-center">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                  <button data-href="{% url 'paiement:validate_declaration' declaration.id %}" href="#" class="edit-link btn btn-primary" role="button">Oui</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          {% if declaration.status == 'validated' and declaration.status != 'billed' %}
                            <span>
                              <button class="btn btn-sm btn-icon-only" role="button" data-id="a-declarations-facturer" data-toggle="modal" data-target="#modal-declaration-bill-{{declaration.id}}">Fct</button>
                            </span>
                          {% endif %}

                          {% if declaration.status == 'validated' or declaration.status == 'billed' %}
                          <span>
                            <button data-href="{% url 'paiement:declaration_receipt' declaration.id %}" data-id="a-declarations-imprimer" onclick="window.open($(this).data('href'), '_blank')" class="btn btn-sm btn-icon-only" role="button">Print</button>
                          </span>
                          {% endif %}
                            
                          <div class="modal fade" id="modal-declaration-bill-{{declaration.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-declaration-bill-{{declaration.id}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="dialog">
                              <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                  <h2>Confirmation </h2>
                                </div>
                                
                                <div class="modal-body">
    
                                  <div class="card card-agency mt--4 mb--4">
                                    
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="col">
                                          <i class="ni education_hat mr-2"></i><span class="text-muted"></span> 
                                          <strong>Etes-vous sûr de vouloir facturer la déclaration ?</strong>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
  
                                </div>
                                <div class="modal-footer justify-content-center">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                  <button data-href="{% url 'paiement:bill_declaration' declaration.id %}" href="#" class="edit-link btn btn-primary" role="button">Oui</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          
                        </td>
                      </tr>
                    
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
              <!-- Card footer -->
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <!-- Optional JS -->
  <script src="/static/assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
  
  <script>
    setTimeout(function() {
      $(".alert").alert('close');
    }, 6000);

    $(".edit-link").click(function() {
      window.location = $(this).data("href");
    });
  </script>
{% endblock javascripts %}
