{% extends "layouts/base.html" %}

{% block title %} Ajout {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Ajout</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Paiements</a></li>
                <li class="breadcrumb-item active" aria-current="page">Liste</li>
                <li class="breadcrumb-item active" aria-current="page">Ajout</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
        
      </div>
    </div>

  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <div class="row">
      <div class="col-xl-12">
        <div class="row">
            <div class="col-lg-12">
              <div class="card-wrapper">
                <!-- Input groups -->
                <div class="card">
                  <!-- Card header -->
                  <div class="card-header">
                    <h3 class="mb-0"><a href="{% url 'paiement:payments' %}">
                        <i class="ni ni-bold-left"></i></a> <span class="ml-4">Nouveau Paiement</span>
                    </h3>
                  </div>
                  <!-- Card body -->
                  {% if ErrorMessage %}
                    <!-- Alerts -->
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                      <span class="alert-text">
                          <strong>Erreur!</strong> {{ErrorMessage}}
                          <br>
                          <ul>
                              {% for field in paymentform %}
                                {% if field.errors %}
                                    <li> {{field.label}}: {{field.errors | striptags}} </li>
                                {% endif %}
                              {% endfor %}
                              {% for field in payerform %}
                                {% if field.errors %}
                                    <li> {{field.label}}: {{field.errors | striptags}} </li>
                                {% endif %}
                              {% endfor %}
                          </ul>
                      </span>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  {% endif %}
                  <div class="card-body">
                    <!-- Displaying facture informations -->
                    <div class="ml-4 justify-content-center">
                        <h4>Informations de la facture </h4>
                    </div>
                    <div class="modal-body">

                        <div class="card card-agency mt--4 mb-4">
                          <div class="card-header text-center">
                            <div class="row text-center">
                              <div class="col">
                                <i class="ni education_hat mr-2"></i><strong>Référence:</strong> {{facture.reference}}
                              </div>
                              <div class="col">
                                <div>
                                  <i class="ni ni-education_hat mr-2"></i><span class="text-muted">Entreprise:</span>
                                  <span class="heading"> {{facture.client.name}} </span>
                                </div>
                              </div>
                            </div>
                              
                          </div>
                          <div class="card-body">
                            <div class="row mb-3 text-center">
                                <div class="col">
                                    <div>
                                        <i class="ni ni-education_hat mr-2"></i><span class="text-muted">Cadres:</span>
                                        <span class="heading"> {{facture.total_cadres}} </span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <i class="ni ni-education_hat mr-2"></i><span class="text-muted">Agents:</span>
                                        <span class="heading"> {{facture.total_agents}} </span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                        <i class="ni ni-education_hat mr-2"></i><span class="text-muted">Ouvriers:</span>
                                        <span class="heading"> {{facture.total_ouvriers}} </span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row mb-3 text-center">
                                <div class="col">
                                    <i class="ni education_hat mr-2"></i><span class="text-muted">Montant Total :</span>
                                    <strong>{{facture.amount}} {{facture.devise.sign}}</strong>
                                </div>
                                <input type="hidden" id="facture-amount" name="facture-amount" value="{{facture.amount}}">
                            </div>
                        </div>
                    </div>


                    <form role="form" action="{% url 'paiement:generate_payment' %}" method="post">
                        {% csrf_token %}
                      <!-- Input groups with icon -->
                      <fieldset class="fieldset">
                        <legend><h4>Devise de paiement</h4></legend>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group input-group-merge">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-money-bill"></i></span>
                                  </div>
                                  {{ paymentform.devise }}
                                </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group input-group-merge">
                                  {{ paymentform.amount }}
                                  <div class="input-group-append">
                                    <span id="input-devise" class="input-group-text font-weight-bold"></span>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="row justify-content-center">
                          <div class="col-md-6">
                            
                          </div>
                        </div>
                        
                      </fieldset>
                      <!-- Input groups with icon -->
                      <fieldset class="fieldset">
                        <legend>Payeur</legend>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                                </div>
                                {{ payerform.first }}
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                                </div>
                                {{ payerform.last }}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                {{ payerform.email }}
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="input-group input-group-merge">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                                {{ payerform.phone }}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="input-group input-group-merge">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-globe-africa"></i></span>
                                  </div>
                                  {{payerform.country_origin}}
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                  <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="fas fa-address-book"></i></span>
                                    </div>
                                    {{payerform.address}}
                                  </div>
                                </div>
                            </div>
                          </div>
                        
                      </fieldset>
                      <div class="card-footer">
                        <div class="row justify-content-center">
                            <input type="reset" class="btn btn-secondary" value="Effacer">
                            <input type="hidden" name="facture" id="facture" value="{{facture.reference}}">
                            <input name="generate-form-submit" type="submit" class="btn btn-primary" value="Enregistrer">
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
                
              </div>
            </div>
            
          </div>     
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>
    $(function(){
      // Get devise corresponding symbol
      function get_devise_symbol() {
        var symbol;
        var devise = $('#id_payment-devise').val()
        switch (devise) {
          case '1':
            symbol = "GNF";
            break;
          case '2':
            symbol = "$";
            break;
          case '3':
            symbol = "€";
            break;
        
          default:
            symbol = "GNF";
            break;
        }
        return symbol;
      };
      // Setting default devise input value
      $('#input-devise').text(get_devise_symbol());

      // Update devise in amount field
      $('#id_payment-devise').change(function(){
        $('#input-devise').text(get_devise_symbol());
      });

      // Update payment amount in view
      var calculate_amount = function(){
        var facture_amount = parseInt($('#facture-amount').val());
        var devise_id = parseInt($('#id_payment-devise').val());

        fetch(`/devises/${devise_id}/value`, {
          method: "GET",
          // body: JSON.stringify({
          //   permit: parseInt(permit_id),
          // })
        })
        .then (response => response.json())
        .then (result => {
          if (result.error) {
            alert(result.error);
          } else {
            $('#id_payment-amount').val(parseFloat(facture_amount * result.devise_value).toFixed(2))
          }
        })
        return false;
      };

      $('.amount-param').change(calculate_amount);
      $(document).ready(calculate_amount);

      
    });
  </script>
{% endblock javascripts %}
