<div class="modal fade" id="modal-delete-confirmation-{{employee.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-delete-confirmation-{{employee.id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h2>Confirmation </h2>
        </div>
        
        <form id="delete-employee-{{employee.id}}-form" role="form" action="{% url 'paiement:employee_delete' declaration_id employee.id %}" method="post">
          {% csrf_token %}
          <div class="modal-body">

            <div class="card card-agency mt--4 mb--4">
              
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <i class="ni education_hat mr-2"></i><span class="text-muted"></span> 
                    <strong>Êtes-vous sûr de vouloir supprimer cet employé ?</strong>
                  </div>
                </div>
                <input type="hidden" name="employee-id" value="1">
              </div>
            </div>

          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
            <input type="hidden" name="delete-employee-form-submit" value="">
            <input type="submit" id="delete-employee-{{employee.id}}" data-employee="{{employee.id}}" class="btn btn-danger submit-btn" value="Oui">
            
          </div>
          
        </form>
      </div>
    </div>
  </div>