<div class="modal fade" id="modal-employee-{{employee.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-employee-{{employee.id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h2>Informations de l'employé </h2>
        </div>
        <div class="modal-body">

          <div class="card card-agency mt--4 mb--4">
            <div class="card-header text-center">
              <div class="row text-center">
                <div class="col">
                  <i class="ni education_hat mr-2"></i><strong>Fonction:</strong> {{employee.job}} ({{employee.job_category}})
                </div>
              </div>
                
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <i class="ni education_hat mr-2"></i><span class="text-muted">N° de passeport:</span> 
                  <strong>{{employee.passport_number}}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <i class="ni education_hat mr-2"></i><span class="text-muted">Prénoms & Nom:</span> 
                  <strong>{{employee.first}} {{employee.last}}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <i class="ni education_hat mr-2"></i><span class="text-muted">Téléphone:</span>
                  <strong>{{employee.phone}} </strong>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <i class="ni education_hat mr-2"></i><span class="text-muted">Email:</span>
                  <strong>{{employee.email}}</strong>
                </div>
              </div>
            
              <div class="row">
                <div class="col">
                  <i class="ni education_hat mr-2"></i><span class="text-muted">Autres:</span><br> 
                  <strong>Texte</strong>
                </div>
                
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>