{% extends "layouts/base.html" %}

{% block title %} Permissions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Permissions</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Administration</a></li>
                <li class="breadcrumb-item active" aria-current="page">Permissions</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            {% if 'a-permissions-filters' in user.permissions.codes or user.is_staff %}
              <a href="#" class="btn btn-sm btn-neutral" data-id="a-permissions-filters">Filters</a>
            {% endif %}
          </div>
        </div>
        
      </div>
    </div>

  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <div class="row">
      <div class="col-xl-12">
        {% if messages %}
          <!-- Alerts -->
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-text">
              <strong>Success!</strong>
              {% for message in messages %}
                {{ message | safe }}
              {% endfor %}
            </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}

        <!-- Table -->
        <div class="row mt-4">

          <div class="col">
            <div class="card">
              <!-- Card header -->
              <div class="card-header border-0">
                <h3 class="mb-0"><em>Liste des permissions</em>
                  {% if 'a-permissions-ajouter' in user.permissions.codes or user.is_staff %}
                    <a href="{% url 'authentication:add_permissions' %}" data-id="a-permissions-ajouter" class="btn btn-sm btn-neutral float-right">+ Ajouter</a>
                  {% endif %}
                </h3>
              </div>
              <!-- Light table -->
              <div class="table-responsive" data-toggle="list" data-list-values='["n°", "profile", "name", "autorisations", "actions"]'>
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="n°">N°</th>
                      <th scope="col" class="sort" data-sort="name">Nom</th>
                      <th scope="col" class="sort" data-sort="profile">Type de profil</th>
                      <th scope="col" class="sort" data-sort="autorisations">Autorisations</th>
                      <th scope="col" class="sort" data-sort="actions">Actions</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    {% for permission in permissions %}
                      <tr>
                        <td class="n°">
                          {{forloop.counter}}
                        </td>
                        <th scope="name">
                          <div class="media align-items-center">
                            <div class="media-body">
                              <span class="name mb-0 text-sm"> {{permission.name}} </span>
                            </div>
                          </div>
                        </th>
                        <td class="autorisations">
                          {{permission.profile_type}}
                        </td>
                        <td class="autorisations" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 5%;">
                          {{permission.list}}
                        </td>
                        <td class="text-center justify-content-center actions">
                          {% if 'a-permissions-consulter' in user.permissions.codes or user.is_staff %}
                            <span>
                              <button class="btn btn-sm btn-icon-only" role="button" data-id="a-permissions-consulter" data-toggle="modal" data-target="#modal-permission-{{permission.id}}">View</button>
                            </span>
                          {% endif %}
                            
                          <div class="modal fade" id="modal-permission-{{permission.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-permission-{{permission.id}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="dialog">
                              <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                    <h2>Détails des accès</h2>
                                </div>
                                <div class="modal-body">

                                    <div class="card card-agency mt--4 mb--4">
                                      <div class="card-header text-center">
                                        <div class="row text-center">
                                          <div class="col">
                                            <i class="ni education_hat mr-2"></i><strong>Nom:</strong> {{permission.name}}
                                          </div>
                                        </div>
                                          
                                      </div>
                                      <div class="card-body">
                                          
                                        <div class="row">
                                          <div class="col">
                                            <div>
                                              <span class="heading"> <h2>Liste des autorisations</h2> </span>
                                              {{permission.list}}
                                              
                                            </div>
                                          </div>
                                        </div>
                                        <div class="text-center">
                                          <h4 class="h4">
                                            <span class="text-muted">Commentaire</span><br>
                                            No comment.
                                          </h4>
                                        </div>
                                      </div>
                                    </div>

                                </div>
                                <div class="modal-footer justify-content-center">
                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                              </div>
                            </div>
                          </div>

                          {% if 'a-permissions-modifier' in user.permissions.codes or user.is_staff %}
                            <span>
                              <button data-href="{% url 'authentication:edit_permission' permission.id %}" data-id="a-permissions-modifier" class="edit-link btn btn-sm btn-icon-only" role="button">Edit</button>
                            </span>
                          {% endif %}
                          {% if 'a-permissions-supprimer' in user.permissions.codes or user.is_staff %}
                            <span>
                              <button class="btn btn-sm btn-icon-only" role="button" data-toggle="modal" data-id="a-permissions-supprimer" data-target="#modal-delete-confirmation-{{permission.id}}">Del</button>
                            </span>
                          {% endif %}
                            
                          <div class="modal fade" id="modal-delete-confirmation-{{permission.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-delete-confirmation-{{permission.id}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="dialog">
                              <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                  <h2>Confirmation </h2>
                                </div>
                                
                                <form id="delete-permission-{{permission.id}}-form" role="form" action="{% url 'authentication:delete_permission' permission.id %}" method="post">
                                  {% csrf_token %}
                                  <div class="modal-body">
    
                                    <div class="card card-agency mt--4 mb--4">
                                      
                                      <div class="card-body">
                                        <div class="row">
                                          <div class="col">
                                            <i class="ni education_hat mr-2"></i><span class="text-muted"></span> 
                                            <strong>Etes-vous sûr de vouloir supprimer cette permission ?</strong>
                                          </div>
                                        </div>
                                        <input type="hidden" name="permission-id" value="0">
                                      </div>
                                    </div>
    
                                  </div>
                                  <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <input type="submit" id="delete-permisssion-{{permission.id}}" data-permission="{{permission.id}}" class="btn btn-danger submit-btn" value="Oui">
                                    
                                  </div>
                                  
                                </form>
                              </div>
                            </div>
                          </div>
                          
                        </td>
                      </tr>
                    {% empty %}
                      <tr>
                        <!-- <p>- Aucune permission enregistrée.</p> -->
                      </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
              <!-- Card footer -->
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>
    setTimeout(function() {
        $(".alert").alert('close');
    }, 3000);

    $(".edit-link").click(function() {
      window.location = $(this).data("href");
    });

    // Deleting permission in tab
    $(".submit-btn").click(function(){
        $("input[name='permission-id']").val(parseInt($(this).data("permission")));
        $(this).closest('form').submit();
    });
  </script>
{% endblock javascripts %}
