{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Profils {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Profils</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Administration</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profils</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            {% if 'a-profiles-filters' in user.permissions.codes or user.is_staff %}
              <a id="filters" href="#" class="btn btn-sm btn-neutral" data-id="a-profiles-filters">Filters</a>
            {% endif %}
          </div>
        </div>
        
      </div>
    </div>

  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <div class="row">
      <div class="col-xl-12">

        <div class="card p-2" id="filters-div" style="display: none;">
          
          <span>Par Type:</span>
          <div class="form-check form-check-inline form-check-inline-margin-end-5">
            {% for profile_type in profile_types %}
              <input class="form-check-input ml-4 filter-item" type="radio" name="profile-type-{{profile_type.name}}" id="profile-type-{{profile_type.id}}">
              <label class="form-check-label" for="profile-type-profile_type.id">
                {{profile_type.name}}
              </label>
            {% endfor %}
          </div>
          
        </div>

        {% if messages %}
          <!-- Alerts -->
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-text">
              <strong>Success!</strong>
              {% for message in messages %}
                {{ message | safe }}
              {% endfor %}
            </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}

      <!-- Modal Alerts -->
      <!-- <div class="modal fade"  id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
        <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
          <div class="modal-content bg-gradient-danger">
            
              <div class="modal-header">
                  <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              
              <div class="modal-body">
                
                  <div class="py-3 text-center">
                      <i class="ni ni-bell-55 ni-3x"></i>
                      <h4 class="heading mt-4">You should read this!</h4>
                      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                  </div>
                  
              </div>
              
              <div class="modal-footer">
                  <button type="button" class="btn btn-white">Ok, Got it</button>
                  <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Close</button>
              </div>
              
          </div>
        </div>
      </div> -->

        <!-- Table -->
        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <!-- Card header -->
              <div class="card-header border-0">
                <h3 class="mb-0"><em>Liste des profils du système</em>
                  {% if 'a-profiles-exportpdf' in user.permissions.codes or user.is_staff %}
                  <a href="{% url 'paiement:print_profiles' %}" target="_blank" data-id="a-profiles-exportpdf" class="btn btn-sm btn-danger float-right">PDF</a>
                  {% endif %}
                  {% if 'a-profiles-exportxlsx' in user.permissions.codes or user.is_staff %}
                  <a href="{% url 'paiement:export_profiles' %}" target="_blank" data-id="a-profiles-exportxlsx" class="btn btn-sm btn-success ml-2 float-right">XLSX</a>
                  {% endif %}
                  {% if 'a-profiles-ajouter' in user.permissions.codes or user.is_staff %}
                    <a href="{% url 'authentication:add_profile' %}" data-id="a-profiles-ajouter" class="btn btn-sm btn-neutral float-right">+ Ajouter</a>
                  {% endif %}
                </h3>
              </div>
              <!-- Light table -->
              <div class="table-responsive" data-toggle="list" data-list-values='["n°", "nom", "type", "statut", "actions"]'>
                <table class="table align-items-center table-flush" id="datatable-basic">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="n°">N°</th>
                      <th scope="col" class="sort" data-sort="nom">Nom</th>
                      <th scope="col" class="sort" data-sort="type">Type</th>
                      <th scope="col" class="sort" data-sort="statut">Statut</th>
                      <th scope="col" class="sort" data-sort="Actions">Actions</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    {% for profile in profiles %}
                      <tr>
                        <td class="nom">
                          {{forloop.counter}}
                        </td>
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle mr-3">
                              {% if profile.picture %}
                                <img alt="Picture" src="{{profile.picture.url}}">
                              {% else %}
                                <i class="fas fa-image"></i>
                              {% endif %}
                            </a>
                            <div class="media-body">
                              <span class="name mb-0 text-sm"> {{profile.name}} </span>
                            </div>
                          </div>
                        </th>
                        <td class="n°">
                          {{profile.type}}
                        </td>
                        <td>
                            {% if profile.status == "ON" %} 
                                <span class="badge badge-dot mr-4">
                                <i class="bg-success"></i>
                                <span class="statut"> Actif </span>
                                </span>
                            {% else %}
                                <span class="badge badge-dot mr-4">
                                <i class="bg-danger"></i>
                                <span class="statut"> Inactif </span>
                                </span>
                            {% endif %}
                        </td>
                        <td class="actions">
                          {% if 'a-profiles-consulter' in user.permissions.codes or user.is_staff %}
                            <span>
                              <button class="btn btn-sm btn-icon-only" role="button" data-toggle="modal" data-id="a-profiles-consulter" data-target="#modal-profile-{{profile.uuid}}">View</button>
                            </span>
                          {% endif %}
                            
                          <div class="modal fade" id="modal-profile-{{profile.uuid}}" tabindex="-1" role="dialog" aria-labelledby="modal-profile-{{profile.uuid}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                </div>
                                <div class="modal-body">

                                  <div class="card card-profile mt--4 mb--4">
                                    {% if profile.picture %}
                                      <img src="{{profile.picture.url}}"  alt="Picture" class="card-img-top" style="max-height: 226px;">
                                    {% else %}
                                      <img src="{% static "assets/img/theme/img-1-1000x600.jpg" %}" alt="Image placeholder" class="card-img-top">
                                    {% endif %}
                                    
                                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                      <div class="d-flex justify-content-between">
                                        <a href="#" class="btn btn-sm btn-info  mr-4 ">{{profile.type}}</a>
                                        <div>
                                          <span class="heading">
                                            {% if profile.status == "ON" %} 
                                              Actif
                                              <span class="badge badge-dot">
                                                <i class="bg-success"></i> 
                                              </span>
                                            {% else %}
                                              Inactif
                                              <span class="badge badge-dot">
                                                <i class="bg-danger"></i> 
                                              </span>
                                            {% endif %}
                                          </span>
                                        </div>
                                        <a href="#" class="btn btn-sm btn-default float-right">
                                          {% if profile.location %}
                                            {{profile.location}}
                                          {% else %}
                                            Inconnu
                                          {% endif %}
                                        </a>
                                      </div>
                                    </div>
                                    <div class="card-body">
                                      <div class="row mt--4">
                                        <div class="col">
                                          <div class="text-center">
                                            <span class="heading"> <h2>{{profile.name}}</h2> </span>
                                            <!-- <span class="description">Titre</span> -->
                                          </div>
                                        </div>
                                      </div>
                                      <div class="text-center">
                                        <h4 class="h4">
                                          {{profile.description}}
                                        </h4>
                                        <div>
                                          <i class="ni education_hat mr-2"></i><strong>Contact:</strong> {{profile.contact}}
                                        </div>
                                      </div>
                                      <div class="text-center">
                                        <i class="ni education_hat mr-2"></i><strong>Email:</strong> {{profile.email}}
                                      </div>
                                      <div class="text-center">
                                        <i class="ni education_hat mr-2"></i><strong>Adresse:</strong> {{profile.adresse}}
                                      </div>
                                    </div>
                                  </div>

                                </div>
                                <div class="modal-footer justify-content-center">
                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                              </div>
                            </div>
                          </div>

                          {% if 'a-profiles-modifier' in user.permissions.codes or user.is_staff %}
                            <span>
                              <button data-href="{% url 'authentication:edit_profile' profile.uuid %}" data-id="a-profiles-modifier" class="edit-link btn btn-sm btn-icon-only" role="button">Edit</button>
                            </span>
                          {% endif %}
                          
                        </td>
                      </tr>
                    
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <!-- Optional JS -->
  <script src="/static/assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
  
  <script>
    setTimeout(function() {
      $(".alert").alert('close');
    }, 6000);

    $(".edit-link").click(function() {
      window.location = $(this).data("href");
    });

    $("#filters").click(function() {
      if ($("#filters-div").css('display') == 'none') {
        $("#filters-div").css('display', 'block');
      } else {
        $("#filters-div").css('display', 'none');
      }
    });

    $(".filter-item").click(function() {
      alert("En cours de dev...");
    });
  </script>
{% endblock javascripts %}
