{% extends "layouts/base.html" %}

{% block title %} Profils {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Profils</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Administration</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profils</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
        
      </div>
    </div>

  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <div class="row">
      <div class="col-xl-12">

        {% if messages %}
          <!-- Alerts -->
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-text">
              <strong>Success!</strong>
              {% for message in messages %}
                {{ message | safe }}
              {% endfor %}
            </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}

      <!-- Modal Alerts -->
      <!-- <div class="modal fade"  id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
        <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
          <div class="modal-content bg-gradient-danger">
            
              <div class="modal-header">
                  <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              
              <div class="modal-body">
                
                  <div class="py-3 text-center">
                      <i class="ni ni-bell-55 ni-3x"></i>
                      <h4 class="heading mt-4">You should read this!</h4>
                      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                  </div>
                  
              </div>
              
              <div class="modal-footer">
                  <button type="button" class="btn btn-white">Ok, Got it</button>
                  <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Close</button>
              </div>
              
          </div>
        </div>
      </div> -->

        <!-- Table -->
        <div class="row mt-4">
          <div class="col">
            <div class="card">
              <!-- Card header -->
              <div class="card-header border-0">
                <h3 class="mb-0"><em>Liste des profils du système</em>
                  <a href="{% url 'authentication:add_profile' %}" class="btn btn-sm btn-neutral float-right">+ Ajouter</a>
                </h3>
              </div>
              <!-- Light table -->
              <div class="table-responsive" data-toggle="list" data-list-values='["n°", "nom", "type", "statut", "actions"]'>
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="n°">N°</th>
                      <th scope="col" class="sort" data-sort="nom">Nom</th>
                      <th scope="col" class="sort" data-sort="type">Type</th>
                      <th scope="col" class="sort" data-sort="statut">Statut</th>
                      <th scope="col" class="sort" data-sort="Actions">Actions</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    {% for profile in profiles %}
                      <tr>
                        <td class="nom">
                          {{forloop.counter}}
                        </td>
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle mr-3">
                              <!-- <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg"> -->
                            </a>
                            <div class="media-body">
                              <span class="name mb-0 text-sm"> {{profile.name}} </span>
                            </div>
                          </div>
                        </th>
                        <td class="nom">
                          {{profile.type}}
                        </td>
                        <td>
                            {% if profile.status == "ON" %} 
                                <span class="badge badge-dot mr-4">
                                <i class="bg-success"></i>
                                <span class="statut"> Actif </span>
                                </span>
                            {% else %}
                                <span class="badge badge-dot mr-4">
                                <i class="bg-danger"></i>
                                <span class="statut"> Inactif </span>
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-center justify-content-center">
                          <span>
                            <button class="btn btn-sm btn-icon-only" role="button" data-toggle="modal" data-target="#modal-profile-{{profile.uuid}}">View</button>
                          </span>
                            
                          <div class="modal fade" id="modal-profile-{{profile.uuid}}" tabindex="-1" role="dialog" aria-labelledby="modal-profile-{{profile.uuid}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                </div>
                                <div class="modal-body">

                                  <div class="card card-profile mt--4 mb--4">
                                    <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
                                    
                                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                      <div class="d-flex justify-content-between">
                                        <a href="#" class="btn btn-sm btn-info  mr-4 ">{{profile.type}}</a>
                                        <div>
                                          <span class="heading">
                                            {% if profile.status == "ON" %} 
                                              Actif
                                              <span class="badge badge-dot">
                                                <i class="bg-success"></i> 
                                              </span>
                                            {% else %}
                                              Inactif
                                              <span class="badge badge-dot">
                                                <i class="bg-danger"></i> 
                                              </span>
                                            {% endif %}
                                          </span>
                                        </div>
                                        <a href="#" class="btn btn-sm btn-default float-right">
                                          {% if profile.location %}
                                            {{profile.location}}
                                          {% else %}
                                            Inconnu
                                          {% endif %}
                                        </a>
                                      </div>
                                    </div>
                                    <div class="card-body">
                                      <div class="row mt--4">
                                        <div class="col">
                                          <div>
                                            <span class="heading"> <h2>{{profile.name}}</h2> </span>
                                            <!-- <span class="description">Titre</span> -->
                                          </div>
                                        </div>
                                      </div>
                                      <div class="text-center">
                                        <h4 class="h4">
                                          {{profile.description}}
                                        </h4>
                                        <div>
                                          <i class="ni education_hat mr-2"></i><strong>Contact:</strong> {{profile.contact}}
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                                <div class="modal-footer justify-content-center">
                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                              </div>
                            </div>
                          </div>

                          <span>
                            <button data-href="{% url 'authentication:edit_profile' profile.uuid %}" href="#" class="edit-link btn btn-sm btn-icon-only" role="button">Edit</button>
                          </span>
                          
                        </td>
                      </tr>
                    
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
              <!-- Card footer -->
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <!-- Optional JS -->
  <script src="/static/assets/vendor/bootstrap-notify/bootstrap-notify.min.js"></script>
  
  <script>
    setTimeout(function() {
      $(".alert").alert('close');
    }, 6000);

    $(".edit-link").click(function() {
      window.location = $(this).data("href");
    })
  </script>
{% endblock javascripts %}
