{% extends "layouts/base.html" %}

{% block title %} Utilisateurs {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Utilisateurs</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Administration</a></li>
                <li class="breadcrumb-item active" aria-current="page">Utilisateurs</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            {% if 'a-utilisateurs-filters' in user.permissions.codes or user.is_staff %}
              <a href="#" class="btn btn-sm btn-neutral" data-id="a-utilisateurs-filters">Filters</a>
            {% endif %}
          </div>
        </div>
        
      </div>
    </div>

  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <div class="row">
      <div class="col-xl-12">
        {% if messages %}
          <!-- Alerts -->
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
            <span class="alert-text">
              <strong>Success!</strong>
              {% for message in messages %}
                {{ message | safe }}
              {% endfor %}
            </span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}

        <!-- Table -->
        <div class="row mt-4">

          <div class="col">
            <div class="card">
              <!-- Card header -->
              <div class="card-header border-0">
                <h3 class="mb-0"><em>Liste des utilisateurs du système</em>
                  {% if 'a-utilisateurs-ajouter' in user.permissions.codes or user.is_staff %}
                    <a href="{% url 'authentication:add_user' %}" data-id="a-utilisateurs-ajouter" class="btn btn-sm btn-neutral float-right">+ Ajouter</a>
                  {% endif %}
                </h3>
              </div>
              <!-- Light table -->
              <div class="table-responsive" data-toggle="list" data-list-values='["n°", "email", "prenons&nom", "phone", "statut", "actions"]'>
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sort" data-sort="n°">N°</th>
                      <th scope="col" class="sort" data-sort="email">Email</th>
                      <th scope="col" class="sort" data-sort="prenoms&nom">Prénoms & Nom</th>
                      <th scope="col" class="sort" data-sort="phone">Téléphone</th>
                      <th scope="col" class="sort" data-sort="statut">Statut</th>
                      <th scope="col" class="sort" data-sort="Actions">Actions</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    {% for rowuser in users %}
                      <tr>
                        <td class="n°">
                          {{forloop.counter}}
                        </td>
                        <th scope="email">
                          <div class="media align-items-center">
                            <!-- <a href="#" class="avatar rounded-circle mr-3">
                              <img alt="Image placeholder" src="/static/assets/img/theme/bootstrap.jpg">
                            </a> -->
                            <div class="media-body">
                              <span class="name mb-0 text-sm"> {{rowuser.email}} </span>
                            </div>
                          </div>
                        </th>
                        <td class="prenoms&nom">
                          {{rowuser.first_name}} {{rowuser.last_name}}
                        </td>
                        <td class="phone">
                          {{rowuser.phone}}
                        </td>
                        <td>
                            {% if rowuser.is_active %} 
                              <span class="badge badge-dot mr-4">
                                <i class="bg-success"></i>
                                <span class="statut"> Actif </span>
                              </span>
                            {% else %}
                              <span class="badge badge-dot mr-4">
                                <i class="bg-danger"></i>
                                <span class="statut"> Inactif </span>
                              </span>
                            {% endif %}
                        </td>
                        <td class="text-center justify-content-center">
                          {% if 'a-utilisateurs-consulter' in user.permissions.codes or user.is_staff %}
                            <span>
                              <button class="btn btn-sm btn-icon-only" role="button" data-id="a-utilisateurs-consulter" data-toggle="modal" data-target="#modal-user-{{rowuser.id}}">View</button>
                            </span>
                          {% endif %}
                            
                          <div class="modal fade" id="modal-user-{{rowuser.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-user-{{rowuser.id}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                </div>
                                <div class="modal-body">

                                  <div class="card card-profile mt--4 mb--4">
                                    {% if rowuser.profile.picture %}
                                      <img src="{{rowuser.profile.picture.url}}" alt="Logo" class="card-img-top" style="max-height: 226px;">
                                    {% else %}
                                      <img src="/static/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
                                    {% endif %}
                                    <div class="row justify-content-center">
                                      <div class="col-lg-3 order-lg-2">
                                        <div class="card-profile-image">
                                          <a href="#">
                                            {% if rowuser.picture %}
                                              <img src="{{rowuser.picture.url}}" alt="Photo" class="rounded-circle">
                                            {% else %}
                                              <img src="/static/assets/img/theme/team-4.jpg" class="rounded-circle">
                                            {% endif %}
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                      <div class="d-flex justify-content-between">
                                        <a href="#" class="btn btn-sm btn-info  mr-4 ">{{rowuser.type}}</a>
                                        <a href="#" class="btn btn-sm btn-default float-right">
                                          {% if rowuser.job %}
                                            {{rowuser.job}}
                                          {% else %}
                                            Inconnu
                                          {% endif %}
                                        </a>
                                      </div>
                                    </div>
                                    <div class="card-body pt-0">
                                      <div class="row">
                                        <div class="col">
                                          <div class="card-profile-stats d-flex justify-content-center">
                                            <div>
                                              <span class="heading"> {% if rowuser.location %}{{rowuser.location}}{% else %}Inconnu{% endif %} </span>
                                              <span class="description">Emplacement</span>
                                            </div>
                                            <div>
                                              <span class="heading"> {% if rowuser.agency %}{{rowuser.agency}}{% else %}Inconnu{% endif %} </span>
                                              <span class="description">Agence</span>
                                            </div>
                                            <div>
                                              <span class="heading">
                                                {% if rowuser.is_active %} 
                                                  Actif
                                                  <span class="badge badge-dot">
                                                    <i class="bg-success"></i> 
                                                  </span>
                                                {% else %}
                                                  Inactif
                                                  <span class="badge badge-dot">
                                                    <i class="bg-danger"></i> 
                                                  </span>
                                                {% endif %}
                                              </span>
                                              <span class="description">Statut</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="text-center">
                                        <h2 class="h2">
                                          {{rowuser.first_name}} {{rowuser.last_name}}
                                        </h2>
                                        <div class="h5 mt-2 mb-4">
                                          <span class="float-left"><i class="fas fa-envelope mr-2"></i> {{rowuser.email}}</span> 
                                          <span class="float-right"><i class="fas fa-phone mr-2"></i> {{rowuser.phone}}</span>
                                        </div>
                                        <div>
                                          <i class="ni education_hat mr-2"></i><strong>Permissions:</strong> {{rowuser.permissions.name}}<br>
                                          <!-- Persmissions Handles here -->
                                        </div>
                                      </div>
                                      <div class="row justify-content-center mt-2">
                                        {% if rowuser.is_active %} 
                                          <button data-href="{% url 'authentication:deactivate_user' rowuser.id %}" class="edit-link btn btn-danger btn-sm" role="button">Bloquer</button>
                                          
                                        {% else %}
                                          <button data-href="{% url 'authentication:activate_user' rowuser.id %}" class="edit-link btn btn-success btn-sm" role="button">Activer</button>

                                        {% endif %}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer justify-content-center">
                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                </div>
                              </div>
                            </div>
                          </div>
                            
                          {% if 'a-utilisateurs-modifier' in user.permissions.codes or user.is_staff %}
                            <span>
                              <button data-href="{% url 'authentication:edit_user' rowuser.id %}" data-id="a-utilisateurs-modifier" class="edit-link btn btn-sm btn-icon-only" role="button">Edit</button>
                            </span>
                          {% endif %}
                          <!-- <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                              <a class="dropdown-item" href="#">View</a>
                              <a class="dropdown-item" href="#">Edit</a>
                            </div>
                          </div> -->
                          {% if 'a-utilisateurs-reset' in user.permissions.codes or user.is_staff %}
                            <span>
                              <button class="btn btn-sm btn-icon-only" role="button" data-toggle="modal" data-id="a-utilisateurs-reset" data-target="#modal-reinit-confirmation-{{rowuser.id}}">Rst</button>
                            </span>
                          {% endif %}
                            
                          <div class="modal fade" id="modal-reinit-confirmation-{{rowuser.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-reinit-confirmation-{{rowuser.id}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="dialog">
                              <div class="modal-content">
                                <div class="modal-header justify-content-center">
                                  <h2>Confirmation </h2>
                                </div>
                                
                                <div class="modal-body">
    
                                  <div class="card card-agency mt--4 mb--4">
                                    
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="col">
                                          <i class="ni education_hat mr-2"></i><span class="text-muted"></span> 
                                          <strong>Etes-vous sûr de vouloir réinitialiser son mot de passe ?</strong>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
  
                                </div>
                                <div class="modal-footer justify-content-center">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                  <button data-href="{% url 'authentication:reinit_password' rowuser.id %}" href="#" class="edit-link btn btn-primary" role="button">Oui</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          

                        </td>
                      </tr>
                    {% empty %}
                      <tr>
                        <p>- Aucun utilisateur enregistré.</p>
                      </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
              <!-- Card footer -->
              <div class="card-footer py-4">
                <nav aria-label="...">
                  <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>
    setTimeout(function() {
        $(".alert").alert('close');
    }, 3000);

    $(".edit-link").click(function() {
      window.location = $(this).data("href");
    })
  </script>
{% endblock javascripts %}
